body {
  background-color: #e7f5fc;
  background-image: radial-gradient(#e7f5fc, #f7fcff);
}

.landing-header {
  position: absolute; /* makes it stay in an absolute place  */
  top: 4rem;
  left: 0;
  right: 0;
  font-size: x-large;
}

.landing-info {
  padding: 30px; /* creates padding around the info under the main picture in bigger screens */
}

img.landing-img1 {
  opacity: 0.6;
}

img.landing-info {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
}

div.tab-body {
  background-image: radial-gradient(#fdfdfd, #f7fcff);
}

button.nav-link {
  color: #485056;
}

@media screen and (max-width: 768px) {
  .landing-header {
    position: inherit; /* it will go back to default (under picture) */
    bottom: 8rem;
    margin: 0.25rem 0;
    top: inherit;
    font-size: xx-small;
    left: inherit;
    /* color: white; */
  }

  img.landing-img1 {
    /* margin-top: 10px; */
    opacity: 0.5;
  }

  div.position-relative {
    height: 9rem;
  }

  .landing-info {
    padding: 0px;
  }

  img.landing-info {
    min-height: 10rem; /* sets better height in iphone */
    padding: 0;
    object-fit: cover; /*covers the sides of pic when too big*/
    object-position: 50% 0%; /*  50% in center horizontally */
  }

  div.card-body {
    width: 20rem;
  }
}
